.header {
	padding: 20px;
	background: $blue;

	&__content {
		@mixin display-flex row, nowrap, flex-end;
		max-width: 1024px;
		margin: auto;
	}

	&__button {
		@mixin text-base;
		width: 120px;
		height: 45px;
		border: 1px solid $blue;
		box-sizing: border-box;
		border-radius: 90px;
		font-size: 16px;
		
		background: $white;
		color: $blue;
	}
}