	/* Сброс стилей						- core 			*/	
@import "core/reset.css";

	/* Подключение @mixin 				- mixins 		*/	
@import "mixins/mixin-flex.pcss";
@import "mixins/mixin-text.pcss";

	/* Подключение базовых стилей 		- core 			*/
@import "core/constant.pcss";
@import "core/fonts.pcss";
@import "core/common.pcss";

	/* Подключение базовых модулей 		- modules/layout */
@import "modules/layout/header.pcss";

	/* Поключение модулей				- modules 		*/
@import "modules/form.pcss";
@import "modules/modal.pcss";